.div {
    padding-right: 10px;
}

.article {
    border-bottom: 1px
    solid #e6e4e4;
    padding: 10px 15px;
    display: flex;
}

.article:hover {
    background: #f5f8fa;
    cursor: pointer; 
}

.p {
    margin: 0;
    line-height: 20px;
}

.date {
    color: #555;
    font-size: 14px;
    text-decoration: none;
}

.date:hover {
    text-decoration: underline;
}

.image {
    margin-top: 10px;
    border-radius: 10px;
    height: auto;
    width: 100%;
}